.container {
  max-width: 92.50rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1.25rem;
}

.h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
}

.h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
}

.h3 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
}
.bold {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.p_mob {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.bold_mob {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
}

.h1_mob {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.h2_mob {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}

.h3_mob {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}